@CHARSET "UTF-8";
body table {
	margin: 0 auto; /*水平居中*/
	position: relative; /*脱离文档流*/
	margin-top: 15%; /*偏移*/	
	border-collapse: collapse;
	broder-top:0px;
}

table th {
	border: 1px solid #000000;
}

table td {
	border: 1px solid #000000;
}
#msg{
	border:0px;
	text-magin:center;
	color:red;
	font-size:25px;
}